body::before {
	background: #d495f7 url(../img/common/base-bg.png) repeat center center/150px 150px;
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
